include README.rst
include LICENSE
include requirements.txt
recursive-include ckanext/restricted_search *.html *.json *.js *.less *.css *.mo *.yml
recursive-include ckanext/restricted_search/migration *.ini *.py *.mako
