{% ckan_extends %}


{% block package_notes %}
    {{ super() }}
    {% if (pkg.extras_keywords_restricted and pkg.extras_keywords_restricted[h.lang()]) or pkg.vocab_eov_restricted %}
        <p>
            {% trans %}<h5>This dataset contains restricted information</h3>
            Contact the dataset owner to request access{% endtrans %}
        </p>
    {% endif %}
{% endblock %}

  {% block package_tags %}
    {% if pkg.extras_keywords_restricted and pkg.extras_keywords_restricted[h.lang()]%}
        {% snippet "package/snippets/open_tags.html", tags=pkg.keywords[h.lang()] %}
        {% snippet "package/snippets/restricted_tags.html", tags=pkg.extras_keywords_restricted[h.lang()] %}
    {% else %}
        {% snippet "package/snippets/tags.html", tags = pkg.keywords[h.lang()] %}
    {% endif %}
  {% endblock %}