{#
    Displays a single of dataset.
    
    package        - A package to display.
    item_class     - The class name to use on the list item.
    hide_resources - If true hides the resources (default: false).
    banner         - If true displays a popular banner (default: false).
    truncate       - The length to trucate the description to (default: 180)
    truncate_title - The length to truncate the title to (default: 80).
    
    Example:
    
      {% snippet 'snippets/package_item.html', package=c.datasets[0] %}
    
    #}
    
{% ckan_extends %}
{% block heading_private %}
    {% if package.private %}
    <span class="dataset-private label label-inverse">
        <i class="fa fa-lock"></i>
        {{ _('Private') }}
    </span>
    {% elif package.mark_restricted %}
    <span class="dataset-restricted label label-inverse">
        <i class="fa fa-lock"></i>
        {{ _('Restricted') }}
    </span>
    {% endif %}
{% endblock %}